.Home-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Product-container{
 background-color:darkgrey;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}